body {
    background: #3C55E0;
    width: 800px;
}
nav {
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: #E0C672;
    border-bottom: 1px solid;
    width: 150 px;
}
nav #navList {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
div {
    margin: auto;
    width: 60%;
    position: relative;
}
    section.container {
    background-color: #E0C672;
}