body {
    background: #3C55E0;
}
nav {
    position: relative;
    top: 0px;
    right: 0px;
    overflow-x: auto;
    background-color: white;
    border-bottom: 1px solid;
}
nav #navList {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
section.container {
    background-color: #E0C672;
}